input[type=text] {
	background: #ffffff
		url("http://styles.anu.edu.au/_images/input_text_bg.gif") repeat-x;
	font-size: 1em;
	padding: 2px 4px 2px 4px; /* top right bottom left */
	border: 1px solid #666666;
}

input[type="submit"] {
	font-size: 1em;
}

#fb-queryform input,#fb-advanced input {
	font-family: Arial, Helvetica, sans-serif;
}

#query,#fb-advanced #query-advanced {
	font-size: 1em;
	padding: 2px 4px 2px 4px; /* top right bottom left */
	width: 300px;
}

#fb-queryform label,#fb-advanced label {
	display: block;
	font-size: 0.9em;
	font-style: normal;
	padding-left: 3px;
}

#fb-wrapper,#fb-wrapper p,#fb-matching,#fb-queryform,#fb-advanced {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.25em;
	background: none;
	font-size: inherit;
}

#fb-queryform,#fb-advanced,#fb-queryform.fb-initial {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 600px;
}

#fb-advanced span {
	width: 190px;
}

#fb-advanced .fb-sortby {
	margin: 0px 0px 0px 0px;
	padding-bottom: 0px;
}

#fb-advanced input[type="submit"],#fb-advanced-submit {
	bottom: 0;
	font-size: inherit;
	position: absolute;
	right: 3px;
	width: 100px;
}

#fb-queryform input[type="submit"],#fb-queryform-advanced input[type="submit"]
	{
	width: 100px;
}

#fb-results li,#fb-results p {
	width: 620px;
}

#fb-matching {
	margin: 15px 0px 0px 0px;
	padding: 4px 4px 4px 10px;
	border: 1px solid #94B0BE;
	background-color: #F5F7F9;
}

h3 a {
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: normal;
	font-size: 0.9em;
}

p.fb-page-nav {
	text-align: left;
}
